<div class="events-c main-app-offset mb-15-c">

  <div></div> <!-- provide margin -->

  <div class="ib">

    <h2 class="ib-heading">Events</h2>

    <div class="ib-content-c">

      <div class="s-light-custom ib-last">

        <select>
          <option>My Events</option>
          <option>Subscribed</option>
          <option>Followed Users</option>
        </select>

      </div>

    </div>

  </div>

  <!--<div class="ec">

    <div class="ec-img">
      <img src="assets/static-img/test-ec-image.jpg">
    </div>

    <div class="ec-breif">
      <h3><span class="icon-rust-icon-15"></span> Rust Legacy Gameplay Event</h3>
      <h4>Hosted by john_spicka</h4>
      <p>This is a description of the rust legacy gameplay event</p>
    </div>

    <div class="ec-attributes">

      <div>
        <p><img src="assets/static-img/clock.svg">Finished</p>
      </div>

      <div>
        <p><img src="assets/static-img/person.svg">12 / 200</p>
      </div>

      <div>
        <p><img src="assets/static-img/thumbs-up.svg">70%</p>
      </div>

      <div style="float:none;clear:both"></div>

    </div>

  </div>-->

  <div class="ib">

    <div class="ib-content-c">
        <div class="b-light-rounded-white-medium ib-last" routerLink="/app/event-form">Create Event</div>
    </div>

  </div>

  <div class="padding-lr-s2 mb-15-c">

    <h2 class="white-title-2 text-center">Nothing Found</h2>

  </div>

</div>
