/**
 * File contains project wide variables
 * Created by Tristan Mastrodicasa
 */

/* Variables */

/* Color Palette */

$primary-color-1: #1F1F1F;
$primary-color-2: #2F2F2F;
$primary-color-3: #D1D5DA;

$error-color: #FF0000;

/* Define full app padding */
$app-padding: 5%;
$standard-padding-1: 10px;
$standard-padding-2: 15px;

/* Define percentage offsets */
$top-offset-1: 22%;
$top-offset-2: 14%;
$main-app-bar: 50px;

/* Outline Color */
$focus-color: #42B3F4;
