<div class="profile-form-c main-app-offset">

  <form class="mb-15-c">

    <div class="ib">

      <h2 class="ib-heading">Select Profile Image</h2>

      <div class="ib-content-c">

        <div class="s-light-custom ib-last">

          <select>
            <option>Default</option>
          </select>

        </div>

      </div>

    </div>

    <div class="ib">

      <h2 class="ib-heading">Player Info</h2>

      <div class="ib-content-c">

        <input type="text" placeholder="Username" class="t-light-thick ib-last">

      </div>

    </div>

    <div class="ib">

      <div class="ib-content-c">

        <div class="ib-last">

          <div class="b-light-rounded-white-medium">Submit</div>

        </div>

      </div>

    </div>

  </form>

</div>
