<div class="event-viewer-c main-app-offset mb-15-c">

  <div class="ec ecl">

    <div class="ec-img">
      <img src="assets/static-img/test-ec-image.jpg">
    </div>

    <div class="ec-breif">
      <h3><span class="icon-rust-icon-15"></span> Rust Legacy Gameplay Event</h3>
      <h4>Hosted by <span class="light-link">john_spicka</span></h4>
      <p class="ec-last">This is a description of the rust legacy gameplay event</p>
    </div>

  </div>

  <div class="ib">

    <div class="ib-content-c">

      <!--<div class="b-light-rounded-white-medium ib-last">Subscribe</div>-->
      <div class="b-light-rounded-white-medium ib-last" routerLink="/app/edit-event/12">Edit Event</div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">When</h2>

    <div class="ib-content-c"> <!-- When -->

        <div>
          <div class="ib-label"><p>Date</p></div>
          <div class="ib-content"><p>13 January 2019, 10:00 pm</p></div>
          <div style="clear: both"></div>
        </div>

        <div class="ib-last">
          <div class="ib-label"><p>Countdown</p></div>
          <div class="ib-content"><p>3 hours 10 minutes</p></div>
          <div style="clear: both"></div>
        </div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">Server Location</h2>

    <div class="ib-content-c"> <!-- Server Location -->

      <div>
        <div class="ib-label"><p>Server</p></div>
        <div class="ib-content"><p>[NZ] PVP Main #1</p></div>
        <div style="clear: both"></div>
      </div>
      <div class="ib-last">
        <div class="ib-label"><p>Region</p></div>
        <div class="ib-content"><p>North America</p></div>
        <div style="clear: both"></div>
      </div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">Communication</h2>

    <div class="ib-content-c"> <!-- Communication -->

      <div>
        <div class="ib-label"><p>Voice Service</p></div>
        <div class="ib-content"><p>Discord</p></div>
        <div style="clear: both"></div>
      </div>
      <div class="ib-last">
        <div class="ib-label"><p>Server</p></div>
        <div class="ib-content"><p>http://invitelink.gg/</p></div>
        <div style="clear: both"></div>
      </div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">Who</h2>

    <div class="ib-content-c"> <!-- Who -->

      <div>
        <div class="ib-label"><p>Target Players</p></div>
        <div class="ib-content"><p>100</p></div>
        <div style="clear: both"></div>
      </div>
      <div class="ib-last">
        <div class="ib-label"><p>Number Subscribed</p></div>
        <div class="ib-content"><p>76</p></div>
        <div style="clear: both"></div>
      </div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">Rating</h2>

    <div class="ib-content-c"> <!-- Rating -->

      <div class="ib-last">
        <p class="white-text-1">Aggregate ratings of games previously hosted by this user is 80%</p>
      </div>

    </div>

  </div>

</div>
