<div class="notifications-c main-app-offset mb-15-c">

  <div class="ib">

    <div class="ib-content-c ib-no-background">

      <div class="ic">

        <div class="ic-img">
          <span class="icon-rust-icon-50"></span>
        </div>

        <div class="ic-extra">
          <div class="ic-circle"></div>
        </div>

        <div class="ic-breif-white ic-breif-action">
          <h3>Rust Legacy Event</h3>
          <p>Event in 10 minutes</p>
        </div>

        <div class="clb"></div>

      </div>

      <div class="ic">

        <div class="ic-img">
          <span class="icon-rust-icon-50"></span>
        </div>

        <div class="ic-extra">
        </div>

        <div class="ic-breif-white ic-breif-action">
          <h3>Rust music festival</h3>
          <p>Event in 1 hour</p>
        </div>

        <div class="clb"></div>

      </div>

    </div>

  </div>

</div>
