<div class="notification-settings-c main-app-offset">

  <form class="mb-15-c">

    <div class="ib">

      <div class="ib-content-c">

        <div>

          <p class="white-title-2 left">Push Notifications</p>

          <label class="c-custom-1 right">
            <input type="checkbox">
            <span></span>
          </label>

          <div class="clb"></div>

        </div>

        <div class="ib-last">
          <p class="white-mai-text left-2-3">Toggle all push notifications</p>
          <div class="clb"></div>
        </div>

      </div>

    </div>

    <div class="ib">

      <div class="ib-content-c">

        <div>

          <p class="white-title-2 left">Event Reminder (10 min)</p>

          <label class="c-custom-1 right">
            <input type="checkbox">
            <span></span>
          </label>

          <div class="clb"></div>

        </div>

        <div class="ib-last">

          <p class="white-title-2 left">Event Reminder (1 hour)</p>

          <label class="c-custom-1 right">
            <input type="checkbox">
            <span></span>
          </label>

          <div class="clb"></div>

        </div>

      </div>

    </div>

    <div class="ib">

      <div class="ib-content-c">

        <div>

          <p class="white-title-2 left">Changes to Events</p>

          <label class="c-custom-1 right">
            <input type="checkbox">
            <span></span>
          </label>

          <div class="clb"></div>

        </div>

        <div class="ib-last">
          <p class="white-mai-text left-2-3">Toggle notifications for when there are changes to subscribed events</p>
          <div class="clb"></div>
        </div>

      </div>

    </div>

    <div class="ib">

      <div class="ib-content-c">

        <div>

          <p class="white-title-2 left">Subscriptions</p>

          <label class="c-custom-1 right">
            <input type="checkbox">
            <span></span>
          </label>

          <div class="clb"></div>

        </div>

        <div class="ib-last">
          <p class="white-mai-text left-2-3">Toggle notifications for events from users you are subscribed to</p>
          <div class="clb"></div>
        </div>

      </div>

    </div>

  </form>

</div>
