<div class="search-c main-app-offset mb-15-c">

  <form class="mb-15-c">

    <div class="ib">

      <h2 class="ib-heading">Search</h2>

      <div class="ib-content-c"> <!-- When -->

        <input type="text" name="username" placeholder="Query" class="t-light-thick ib-last">

        <!--<div class="s-light-custom">

          <select>
            <option>Event</option>
            <option>User</option>
          </select>

        </div>

        <div class="s-light-custom">

          <select>
            <option>Game</option>
            <app-game-options></app-game-options>
          </select>

        </div>

        <div class="s-light-custom">

          <select>
            <option>Starting Time</option>
            <option>Whenever</option>
            <option>Within a Year</option>
            <option>Within a Week</option>
            <option>Within a Day</option>
          </select>

        </div>

        <div class="b-light-rounded-white-medium ib-last">Search</div>

      </div>

    </div>

    <div class="ib nmb">

      <h2 class="ib-heading">Sort</h2>

      <div class="ib-content-c">--> <!-- When -->

        <!-- <div class="s-light-custom ib-last">

          <select>
            <option>Starting Time</option>
            <option>Subscribers</option>
            <option>Rating</option>
          </select>

        </div>-->

      </div>

    </div>

  </form>

</div>
