/**
 * File for the main app interface
 * Created by Tristan Mastrodicasa
 */

.ma-bar {
    height: $main-app-bar;
    background-color: $primary-color-1;
    position: fixed;
}

.ma-top-bar {
    @extend .ma-bar;
}

.ma-bottom-bar {
    @extend .ma-bar;
    bottom: 0;
    left: 0;
}

/* Top Bar Styles */

.ma-inner-bar-1 {
    height: 60%;
    padding: 0 $app-padding 0 $app-padding;
}

.ma-top-bar-img {
    height: 100%;
    width: auto;
    margin-left: 50px;
    border-radius: 50%;
    float: right;
    background-color: #FFFFFF;
}

.ma-top-bar-search-c {
    height:100%;
    width:auto;
    float:right
}

.ma-top-bar-search {
    display:block;
    height: 80%;
    width: auto;
}

.ma-top-bar-logo {
    height: 80%;
    width: auto;
    float: left;
}

/* Bottom Bar Styles */

.ma-options-c {
    width: 25%;
    height: 100%;
    float: left;
}

.ma-icon {
    @extend .center;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 5px;
}
