<div class="profile-viewer-c main-app-offset mb-15-c">

  <div class="ib profile-img-c"> <!-- Image and username container -->

    <div class="ib-content-c">

      <div>
        <img src="assets/static-img/default-profile-picture.svg" class="profile-img center">
      </div>

      <h2 class="text-center white-title-3 ib-last">ghoststeam217</h2>

    </div>

  </div>

  <div class="ib"> <!-- Action Section -->

    <div class="ib-content-c">

      <!--<div class="b-light-rounded-white-medium ib-last">Subscribe</div>-->

      <div class="ib-last">

        <div class="left-1-2 p-r-5">
          <div class="b-light-rounded-white-medium ib-last" routerLink="/app/edit-profile">Edit Profile</div>
        </div>

        <div class="left-1-2 p-l-5">
          <div class="b-light-rounded-white-medium ib-last" routerLink="/app/subscriptions">Subscriptions</div>
        </div>

        <div class="clb"></div>

      </div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">Information</h2>

    <div class="ib-content-c">

      <div>
        <div class="ib-label"><p>Subscribers</p></div>
        <div class="ib-content"><p>1,128</p></div>
        <div style="clear: both"></div>
      </div>

      <div class="ib-last">
        <div class="ib-label"><p>Rating</p></div>
        <div class="ib-content"><p>80%</p></div>
        <div style="clear: both"></div>
      </div>

    </div>

  </div>

  <div class="ib">

    <h2 class="ib-heading">Hosted Events</h2>

    <div class="mb-15-c">

      <!--<p class="ib-last">None Found</p>-->

      <div class="ec">

        <div class="ec-img">
          <img src="assets/static-img/test-ec-image.jpg">
        </div>

        <div class="ec-breif">
          <h3><span class="icon-rust-icon-15"></span> Rust Legacy Gameplay Event</h3>
          <h4>Hosted by john_spicka</h4>
          <p>This is a description of the rust legacy gameplay event</p>
        </div>

        <div class="ec-attributes">

          <div>
            <p><img src="assets/static-img/clock.svg">2 days</p>
          </div>

          <div>
            <p><img src="assets/static-img/person.svg">12 / 200</p>
          </div>

          <div>
            <p><img src="assets/static-img/thumbs-up.svg">70%</p>
          </div>

          <div style="float:none;clear:both"></div>

        </div>

      </div>

    </div>

  </div>

</div>
