<div class="ma-top-bar">

	<div class="vert-center-p">

		<div class="vert-center-c ma-inner-bar-1">

			<img src="assets/static-img/gw-logo.svg" class="ma-top-bar-logo vert-center-c">
			<img src="assets/static-img/default-profile-picture.svg" class="ma-top-bar-img" routerLink="/app/profile">

			<div class="ma-top-bar-search-c">
				<img src="assets/static-img/magnifying-glass.svg" class="ma-top-bar-search vert-center-c" routerLink="/app/search">
			</div>


			<div class="clb"></div>

		</div>

	</div>

</div>

<div class="ma-bottom-bar">

	<div class="ma-options-c vert-center-p" routerLink="/app/">

		<img src="assets/static-img/tent-icon.svg" class="ma-icon">

		<p class="white-mai-text text-center">Home</p>

	</div>

	<div class="ma-options-c" routerLink="/app/events">

		<img src="assets/static-img/swords-clashing.svg" class="ma-icon">
		<p class="white-mai-text text-center">Events</p>

	</div>

	<div class="ma-options-c" routerLink="/app/notifications">

		<img src="assets/static-img/bell-icon.svg" class="ma-icon">
		<p class="white-mai-text text-center">Notifications</p>

	</div>

	<div class="ma-options-c" routerLink="/app/more-options">

		<img src="assets/static-img/more.svg" class="ma-icon">
		<p class="white-mai-text text-center">More</p>

	</div>

	<div class="clb"></div>

</div>
