<div class="account-form-c main-app-offset">

  <form class="mb-15-c">

    <div class="ib">

      <h2 class="ib-heading">Password</h2>

      <div class="ib-content-c">

        <input type="text" placeholder="Password" class="t-light-thick">
        <input type="text" placeholder="Retype Password" class="t-light-thick ib-last">

      </div>

    </div>

    <div class="ib">

      <div class="ib-content-c">

        <div class="ib-last">

          <div class="b-light-rounded-white-medium">Submit</div>

        </div>

      </div>

    </div>

  </form>

</div>
