/**
 * File for the event browse screen
 * Created by Tristan Mastrodicasa
 */

.event-browse-c {
    padding-top: $main-app-bar + $standard-padding-2;
    padding-left: $standard-padding-2;
    padding-right: $standard-padding-2;
}
