/**
 * File for the event form page
 * Created by Tristan Mastrodicasa
 */

.event-form-c {
	padding-top: $main-app-bar + $standard-padding-2;
}

.event-form-textarea {
	height: 100px;
}

.center-cancel-event {
	line-height: 45px;
}
