/**
 * File for the profile viewer page
 * Created by Tristan Mastrodicasa
 */

.profile-viewer-c {
	padding-top: $main-app-bar + $standard-padding-2;
}

.profile-img-c {
	margin-top: 100px;
}
.profile-img {
	height: 200px;
	width: 200px;

	margin-top: -110px;
}
