/**
 * File for the intro screen specific styles
 * Created by Tristan Mastrodicasa
 */

/* Page Container */

.intro-page-c {
  top: $top-offset-1;
  padding-left: $app-padding;
  padding-right: $app-padding;
}
