/**
 * File for the subscription list
 * Created by Tristan Mastrodicasa
 */

.subscription-list-c {
	padding-top: $main-app-bar + $standard-padding-2;
	padding-left: $standard-padding-2;
	padding-right: $standard-padding-2;
}
