/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-back-arrow-2 {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -75px 0px;
  width: 50px;
  height: 50px;
}
.icon-back-arrow-3 {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -75px;
  width: 30px;
  height: 30px;
}
.icon-back-arrow {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 75px;
  height: 75px;
}
